@model IEnumerable<HotelxIdentity.ViewModel.RoomBookingViewModel>
@{
    ViewBag.Title = "Index";
}

<h2 style="text-align: center; margin-top: 10px; margin-bottom: 20px;" >ROOM BOOKING LIST</h2>




<div class="booking-room-list">
 
    <div class="booking-room-list-content">
        <p class="btn-booking-table">
            @Html.ActionLink("Create New", "Create")
        </p>


        <div class="booking-table">
            <table>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerAddress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerPhone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BookingFrom)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BookingTo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RoomNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NoOfMember)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NumberOfDays)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RoomPrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Total)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PaymentType)
                    </th>
                    <th>
                        TÙY CHỌN
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerAddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerPhone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BookingFrom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BookingTo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RoomNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NoOfMember)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumberOfDays)
                        </td>
                        <td>
                            @item.RoomPrice.ToString("#,##0.00")
                        </td>
                        <td>
                            @item.Total.ToString("#,##0.00")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PaymentType)
                        </td>

                        <td>

                            @Html.ActionLink("Edit", "Edit", new { id = item.BookingId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.BookingId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.BookingId })

                        </td>

                    </tr>
                }

            </table>
        </div>
    </div>

</div>



<style>
    
    .booking-room-list {
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    .booking-room-list-content {
        /*padding: 5px 25px;*/
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .booking-table-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .btn-booking-table {
        text-align: left;
        margin-bottom: 10px;
    }

        .btn-booking-table a {
            display: inline-block;
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            text-decoration: none;
            border-radius: 4px;
            transition: background-color 0.3s ease;
            margin-right: 10px;
        }

            .btn-booking-table a:hover {
                background-color: #45a049;
            }

    .booking-table {
        width: 100%;
        border-collapse: collapse;
      
        margin-top: 20px;
        border-radius: 10px;
       /* background-color: #f2f2f2;*/
        display: flex;
        margin: 0 auto;
        align-items: center;
    }

        .booking-table th,
        .booking-table td {
            padding: 8px;
            text-align: left;
            color:#000000;
        }

        .booking-table th {
            background-color: #4CAF50;
            color: white;
        }

        .booking-table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .booking-table tr:hover {
            background-color: #ddd;
        }

        .booking-table td:last-child {
            text-align: center;
        }

        .booking-table a {
            display: inline-block;
            padding: 6px 12px;
            background-color: #4CAF50;
            color: white;
            text-decoration: none;
            border-radius: 4px;
            transition: background-color 0.3s ease;
            margin-right: 5px;
        }

            .booking-table a:hover {
                background-color: #45a049;
            }

            .booking-table a:nth-child(2) {
                background-color: #2196F3;
            }

            .booking-table a:nth-child(3) {
                background-color: #FF9800;
            }

            .booking-table a:nth-child(4) {
                background-color: #F44336;
            }
</style>

